[Unit]
Description=Quick Quarm EQ
Requires=eqemu-shared-memory.service eqemu-loginserver.service eqemu-ucs.service eqemu-queryserv.service eqemu-world.service eqemu-zone.service

[Install]
WantedBy=multi-user.target
